html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  padding: 0 5%;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  width: 40%;
  display: flex;
  gap: 5%;
  align-items: center;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

img {
  height: 52px;
}

.myProfileContainer{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.myRockets,
.myMissions,
.myDragons{
  width: 30%;
  height: 300px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.listItem{
  display: flex;
  flex-direction: column;
  height: 30px;
  border: solid gray 1px;
  border-radius: 3px;
  justify-content: center;
}